# Ignore test files
test_database.py
test_database_stud*.py
test_keyboard.py
test_keyboard_inte*.py
test_emotion_study.db 
data/__pycache__
keyboard/__pycache__
.buildozer/
emotion_study.db
screens/__pycache__
games/__pycache__
emotionvenv